@using AspNetSampleMvcApp.Helpers

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<serverSummary visible="true" style='new StyleInformation{Color = "#ff0000", BackgroundColor="#000"}'>
    <time></time>
    <server-data></server-data>
</serverSummary>